{% extends 'sharespace/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row" style="padding:25px; margin-top:5px">
      <div class="col-lg-12" >
            <h1 class="page-header">{{space_type}}
              <small>{{korean_space_type}}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
          {% for space in space_list %}
            <a href="{% url 'detail' space_id=space.pk %}">
                {% if space.photo %}
                  <img class="img-responsive" src="{{space.photo.url}}" alt="">
                {% endif %}
            </a>
            <h3>
                <a href="{% url 'detail' space_id=space.pk %}">{{space.name}}</a>
            </h3>
            <address>
              <strong>Address(주소)</strong>
              {{space.address1}} {{space.address2}} {{space.address3s}}<br>
            </address>
            <p>{{space.description}}</p>
          {% endfor %}
        </div>
    </div>

    <hr>

<!-- /.container -->
{% endblock content %}
